<div class="container p-4">
    <div class="row">
        <h1>Escribe tu comunicado</h1>
        <input value="{{comunicado.nivel_idnivel}}" id="nivel" class="d-none" type="text" rows="5" size="5"
            name="nivel">
        <div class="col-md-6 mx-auto">
            <div class="card w-100">
                <div class="card-body">
                    <form action="/administrador/ver-comunicados/editar-comunicado/{{comunicado.idcomunicado}}"
                        method="POST">
                        <div class="form-group mb-2">
                            <input value="{{comunicado.titulo}}" type="text" class="form-control" name="titulo"
                                placeholder="Título" autofocus value="">
                        </div>
                        <div class="form-group mb-2">
                            <input value="{{comunicado.subtitulo}}" type="text" class="form-control" name="subtitulo"
                                placeholder="Sub-Título">
                        </div>
                        <div class="form-group mb-2">
                            <textarea id="comunicado" class="form-control" type="text" rows="5" size="5"
                                name="comunicado" placeholder="Comunicado">{{{comunicado.comunicado}}}</textarea>
                        </div>

                        <script>
                            // seleccionamos el valor de un input invisible
                            // segun el valor, se despliega el nivel
                            $(document).ready(function () {
                                let nivel = $('#nivel').val();
                                if (nivel == 1) {
                                    $("#idnivel option[value=1]").attr("selected", true);
                                } else if (nivel == 2) {
                                    $("#idnivel option[value=2]").attr("selected", true);
                                }
                            });
                        </script>
                        <div class="form-group mb-2">
                            <label for="nivel_idnivel">Elija Nivel</label>
                            <select name="nivel_idnivel" class="form-select" aria-label="Elegir Nivel" id="idnivel">
                                <option value="1">Sala Cuna</option>
                                <option value="2">Nivel Medio</option>
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <button class="btn btn-success w-100">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module">

    /*ClassicEditor
        .create(document.querySelector('#comunicado'), {
            language: 'es'
        })
        .catch(error => {
            console.error(error);
        });*/

    CKEDITOR.replace('comunicado', {
        filebrowserUploadUrl: '/comunicados/upload',
        "extraPlugins": "imagebrowser",
        "imageBrowser_listUrl": "/comunicados/imagenes"
    });

    $(function () {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='formComunicado']").validate({
            // Specify validation rules
            ignore: [],
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                titulo: "required",
                subtitulo: "required",
                comunicado: {
                    ckrequired: true,
                    minlength: 30
                },
                nivel_idnivel: "required"
                /*email: {
                    required: true,
                    // Specify that email should be validated
                    // by the built-in "email" rule
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                }*/
            },
            // Specify validation error messages
            messages: {
                titulo: "<div class='alert alert-warning w-100' role='alert'>Porfavor Ingrese Titulo!</div>",
                subtitulo: "<div class='alert alert-warning w-100' role='alert'>Porfavor Ingrese Subtitulo! </div>",
                comunicado: {
                    ckrequired: "<div class='alert alert-warning w-100' role='alert'>Porfavor Ingrese Contenido!</div>",
                    minlength: "<div class='alert alert-warning w-100' role='alert'>Mínimo 30 carácteres </div>"
                },
                nivel_idnivel: "<div class='alert alert-warning w-100' role='alert'>Porfavor Ingrese un Nivel</div>"
                /*password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                }*/
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        });
    });

</script>
<script src="/js/sidebar.js" crossorigin="anonymous"></script>