<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card w-100">
                <div class="card-body">
                    <h3 class="fw-bold text-center">Mis datos</h3>
                    <h5><span class="fw-bold">RUT: </span>{{user.rut}}</h4>
                    <h5><span class="fw-bold">Nombre: </span>{{user.nombre}} {{user.apellido}}</h4>
                    <h5><span class="fw-bold">Fecha de Nacimiento: </span>{{user.fecha_nac}}</h4>
                    <h5><span class="fw-bold">Dirección: </span>{{user.direccion}}</h4>
                    <h5><span class="fw-bold">Teléfono: </span>{{user.telefono}}</h4>
                    <h5><span class="fw-bold">Email: </span>{{user.username}}</h4>
                    <div class="btn-group" role="group" aria-label="Acciones Usuario">
                    <a class="btn btn-primary" style="font-size: small;" href="/">Ver comunicados</a>
                    <a class="btn btn-warning" style="font-size: small;" href="/editar-perfil">Editar mi perfil</a>
                    {{#when user.id_tipousuario 'eq' 1}}
                        <a class="btn btn-info" style="font-size: small;" href="/administrador/ver-usuarios">Panel de Control</a>
                    {{/when}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto mt-5"></div>
        <h2>Niños(as) Asignados</h2>
        {{#each ninios}}         
            <div class="card w-100">
                <div class="card-body">
                    <h3><span class="fw-bold">RUT:</span> {{rut}}</h3>
                    <h4><span class="fw-bold">Nombre:</span> {{nombre}} {{apellido}}</h4>
                    <p><span class="fw-bold">Sexo:</span> {{sexo}}</p>
                    <p><span class="fw-bold">Fecha Nacimiento:</span> {{fecha_nac}}</p>
                    <p><span class="fw-bold">Nivel:</span> {{nivel}}</p>
                </div>
            </div>     
        {{else}}      
        {{/each}}
        </div>
    </div>
</div>